body {
  background: url(./images/1672336.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat; /*disable horizantal and vertical repeat*/
}
.heading {
  color: aliceblue;
}
p {
  color: beige;
}
img {
  opacity: 0.9;
  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%);
}
